body {
  background-color: $colorBackground;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

.userTabbed *:focus {
  outline: 2px solid $blue;
}

.page-main-content {
  @include outerContainer;
}

.page-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: $gutterXs / -2;
  margin-right: $gutterXs / -2;
}

.subsection {
  @include gridWidth(12/12, 6/12);
  margin: $gutterXs / 2;
}
