$breakInline: $breakMd;

.page-header {
  @include outerContainer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $spacingMd;
  padding-bottom: $spacingMd;

  @include mediaFrom($breakInline) {
    flex-direction: row;
  }

  .page-title {
    font-size: rem(20px);
    text-align: center;
    font-weight: 500;
    line-height: rem(30px);
    margin-bottom: $spacingMd;

    @include mediaFrom($breakInline) {
      text-align: left;
      margin-bottom: 0;
    }
  }
}
