.tile-chart {
  @include tile;
  margin-bottom: $spacingMd;

  .tile-header {
    background-color: $white;

    label {
      @include visuallyHidden;
    }

    .shiny-input-container {
      width: auto;

      > div {
        @include dropdown;

        select {
          padding: $spacingSm;

          @include mediaFrom($breakSm) {
            padding-left: $spacingMd;
            padding-right: $spacingMd;
          }
        }
      }
    }
  }

  .tile-title {
    @include title;

    padding-top: $spacingSm;
    padding-bottom: $spacingSm;
  }
}
