.time-chart {
  .time-chart-container {
    padding: 20px 10px 10px;
  }

  .dygraph-label {
    font-size: rem(10px);
  }

  .dygraph-legend {
    // overwrite dygraph inline styles
    background-color: transparent !important;
    top: -10px !important;
  }
}
